.pickupFormSection
    padding: 10px 15px 0 15px
    .pickupContent-0
        .titleBody
            display: flex
            img
                width: 30px
                height: 30px
                margin-right: 10px
                vertical-align: middle
            p
                color: #20AFFF
                font-size: 25px
                font-weight: 550
                line-height: 32px
        .descBody
            p
                color: #000000
                font-size: 15px
                font-weight: normal
                line-height: 21px
        .pickupListBody
            .pickupItem
                margin: 15px 0
                display: flex
                position: relative
                border: 1px solid #E0E0E0
                box-shadow: 0px 1px 3px 3px rgba(0, 0, 0, 0.1)
                padding: 15px 20px
                .delete
                    height: 12px
                    width: 12px
                    position: absolute
                    right: 10px
                    cursor: pointer
                    top: 10px
                    background-size: cover
                    background-image: url(/images/ui-icon/close_modal.svg)
                .itemBody
                    flex: 2.5 1
                    padding: 0 10px 0 0
                    p
                        margin-bottom: 5px
                    input
                        border: 2px solid #E0E0E0
                        font-size: 15px
                        line-height: 20px
                        padding: 10px 15px
                        width: 100%
                        &::placeholder
                            color: #4F4F4F
                .numberBody
                    flex: 1 1
                    padding: 0 0 0 10px
                    p
                        margin-bottom: 5px
                    input
                        border: 2px solid #E0E0E0
                        font-size: 15px
                        line-height: 20px
                        padding: 10px 15px
                        width: 100%
                        &::placeholder
                            color: #4F4F4F
        .row
            padding: 0
            img
                width: 130px
                &.plusBtn
                    cursor: pointer
            button
                border-radius: 0
                padding: 13px 60px
                span
                    font-size: 18px !important
                    font-weight: bold
                    line-height: 22px
    .pickupContent-1
        .titleBody
            p
                color: #20afff
                font-size: 22px
                font-weight: 550
                line-height: 28px
                text-align: center
                margin: 15px 0 20px 0
        .row
            > div
                padding: 0 0 15px 0
                .caption
                    color: #000000
                    font-size: 15px
                    font-weight: 500
                    line-height: 21px
                    text-align: left
                    margin-bottom: 5px
                &.pickAt
                    > div
                        > input
                            border: 1px solid #ddd
                            margin-top: -5px
                            color: #969696
                        span
                            &.placeholder
                                margin-bottom: 10px
                                font-size: 15px
                                font-weight: 500
                                line-height: 21px
                                color: #000000
    .pickup-content-2
        .center
            text-align: center
        .donation-type
            text-align: center
            button
                margin: 0 10px
                padding: 7px 20px
                background-color: #20AFFF
                color: #ffffff
                cursor: pointer
