.modalHeader
	h2
		margin 20px 0
		font-weight bold
		font-size 24px
		text-align center
		color #333333
	.closeBtn
		height 12px
		width 12px
		position absolute
		right 10px
		cursor pointer
		top 10px
		background-size cover
		background-image url("/images/ui-icon/close_modal.svg")