.SignIn
    .form-wrapper
        .input-wrapper
            .globalErrorHandler
                &.passwordError
                    display: none
                    &.show
                        display: block
                    &.hide
                        display: none
                > span
                    display: none
                    &.show
                        display: block
                    &.hide
                        display: none