.follow-noti
    padding 13px 0px
    border-bottom 1px solid #CCCCCC
    m-flex(space-between)
    .main-info
        m-flex(flex-start)
        .follow-content
            display flex
            flex-direction column
            flex-basis 70%
            ._name
                m-font(Roboto, normal, 500, 15px, 14px)
                color #333
            ._desc
                m-font(Roboto, normal, normal, 18px, 10px)
                color #3E4A59
                opacity 0.7
            .button-group
                m-flex(flex-start)
    ._time
        m-font(Roboto, normal, 500, 28px, 10px)
        color $first-color
        align-self flex-start