/* Slick slider */
@import "~slick-carousel/slick/slick.css";
@import "~slick-carousel/slick/slick-theme.css";
@import "~paymentfont/css/paymentfont.min.css"
@import "~intro.js/introjs.css"

/* Main */
@import './main.styl'
@import '../common/preloader/style.styl'

/* Fonts */
/*@import url('https://fonts.googleapis.com/css?family=Roboto:300,400,500,700')
@import url('https://fonts.googleapis.com/css?family=Open+Sans:300,400')*/
@import "~roboto-fontface/css/roboto/roboto-fontface.css"
@import "~open-sans-fontface/open-sans.css"


/* Components */
@import '../common/animatedSwitch/style.styl'
@import '../common/mainHeader/style.styl'
@import '../common/headerMenu/style.styl'
@import '../common/sidebarLeft/style.styl'
@import '../common/sidebarRight/style.styl'
@import '../common/noContentPlaceholder/style.styl'
@import '../common/userComponents/userAvatar/style.styl'
@import '../common/devPlaceholder/style.styl'
@import '../common/horizontalTab/style.styl'
@import '../common/Modal/style.styl'
@import '../common/InputFile/style.styl'
@import '../common/IconButton/style.styl'
@import '../common/DashIconButton/style.styl'
@import '../common/DashHeader/style.styl'
@import '../common/chat/ChatUser/style.styl'
@import '../common/popNews/style.styl'
@import '../common/CheckBox/style.styl'
@import '../common/InviteNonprofitModal/style.styl'
@import '../common/SharingModal/style.styl'

/* Auth modals */
@import '../common/authModals/components/layoutModal/style.styl'
@import '../common/authModals/modalWindows/forgotPass/style.styl'
@import '../common/authModals/modalWindows/newPass/style.styl'
@import '../common/authModals/modalWindows/signIn/style.styl'
@import '../common/authModals/modalWindows/signUp/style.styl'
@import '../common/authModals/components/headerModal/style.styl'

/* Common auth*/
@import '../common/authModals/common.styl'
@import '../common/authModals/modalWindows/newNonprofit/style.styl'
@import '../common/authModals/modalWindows/newStudent/style.styl'

/* Notification modals */
@import '../common/notificationModals/layoutNotificationModal/style.styl'
@import '../common/notificationModals/cropperModal/style.styl'
@import '../common/authModals/components/avatarCropper/style.styl'

/* UX COMPONENT */
@import '../common/customSelect/style.styl'
@import '../common/Button/style.styl'
@import '../common/Card/style.styl'
@import '../common/ProjectCard/style.styl'
@import '../common/PostCard/style.styl'
@import '../common/Label/style.styl'
@import '../common/ProjectPreview/style.styl'
@import '../common/ProjectDateLocation/style.styl'
@import '../common/ProjectActivityWrapper/style.styl'
@import '../common/DropDownMenu/style.styl'
@import '../common/Autocomplete/style.styl'    
@import '../common/MyAutocomplete/style.styl'
@import '../common/TitleSearch/style.styl'
@import '../common/welcome/style.styl'
@import '../common/ProjectSummary/style.styl'
@import '../common/CategoriesWrapper/style.styl'

/* Landing page */
@import './landing/style.styl'

/* Pages */
@import '../pages/connects/style.styl'
@import '../pages/connects/InviteUI/style.styl'
@import '../pages/projects/style.styl'
@import '../pages/profile/style.styl'
@import '../pages/NewProfile/style.styl'
@import '../pages/profile/UserInfo/style.styl'
@import '../pages/schools/style.styl'
@import '../pages/ProjectForm/style.styl'
@import '../pages/ProjectListPage/style.styl'
@import '../pages/Campaigns/style.styl'
@import '../pages/setting/style.styl'
@import '../pages/Project/style.styl'
@import '../pages/games/style.styl'
@import '../pages/games/vocabulary/style.styl'
@import '../pages/Dashboard/style.styl'
@import '../pages/newsFeed/style.styl'
@import '../pages/newsFeed/popular/authorList/style.styl'
@import '../pages/newsFeed/popular/newsList/style.styl'
@import '../pages/Post/PostForm/style.styl'
@import '../pages/Post/PostList/style.styl'
@import '../pages/Post/style.styl'
@import '../pages/Contact/style.styl'
@import '../pages/Contact/ContactInfo/style.styl'
@import '../pages/search/style.styl'
@import '../pages/search/mobile/style.styl'
@import '../pages/chats/style.styl'
@import '../pages/chats/chatList/style.styl'
@import '../pages/chats/chatForm/style.styl'
@import '../pages/chats/chatForm/Message/style.styl'
@import '../pages/chats/followerList/style.styl'

@import '../common/css/main.styl'