# See https://help.github.com/ignore-files/ for more about ignoring files.

# Vendor:
node_modules

# Optional npm cache directory
.npm

# Logs:
logs
*.log

# testing
coverage

# production
build

npm-debug.log*
yarn-debug.log*
yarn-error.log*
package-lock.json
yarn-lock

# env_file
.env
.env.local
.env.development.local
.env.test.local
.env.production.local
.env.example
.env.save
.DS_Store

.vscode/
.vscode
