.calendar-modal {
    position: fixed;
    width: 100vw;
    height: 100vh;
    background-color: rgba(0, 0, 0, 0.3);
    top: 0;
    left: 0;
    z-index: 9;
    opacity: 0;
    display: none;
    -webkit-transition: 0.3s;
    transition: 0.3s;
    visibility: hidden;
    justify-content: center;
    align-items: center;
    overflow-y: scroll;
}
.calendar-modal-container {
    opacity: 0;
}
.calendar-modal-header {
    opacity: 0;
}
.close-btn {
    opacity: 0;
}

.calendly-inline-widget {
    opacity: 0;
}

.calendar-modal.open {
    opacity: 1;
    visibility: visible;
    display: flex;
}

.calendar-modal.open .calendar-modal-container {
    opacity: 1;
}

.calendar-modal.open .calendar-modal-header {
    opacity: 1;
}

.calendar-modal.open .close-btn {
    opacity: 1;
}

.calendar-modal.open .calendly-inline-widget {
    opacity: 1;
}

.calendar-modal-container {
    box-sizing: border-box;
    background: #fff;
    box-shadow: 0px 10px 20px rgba(0,0,0,0.25);
    border-radius: 0;
    width: 500px;
    position: relative;
}

.calendar-modal-header .close-btn {
    height: 16px;
    width: 16px;
    position: absolute;
    right: 5px;
    cursor: pointer;
    top: 5px;
    z-index: 1;
    background-size: cover;
    background-image: url(/images/ui-icon/landing/blue_close_icon.png);
}

@media all and (max-width: 425px) {
    .calendar-modal-container {
        width: 100%;
    }
}