.interests-wrapper
	margin 10px 0
	.interest
		font-size 12px
		color #666666
		background #FFFFFF
		box-shadow 0px 5px 10px rgba(0, 0, 0, 0.08)
		border-radius 40px
		display inline-block
		padding 5px 10px
		margin-top 10px
		margin-right 10px
.project
	size(560px, fit-content)
	max-width: 100%
	cursor: pointer
	box-sizing: border-box
	position: relative
	box-shadow: 0 0 20px rgba(0, 0, 0, .15)
	border-radius: 0
	&.full
		width 100%
	.project-header
		m-flex(justifyContent = space-between)
		a
			text-decoration none
		.info-wrapper
			m-flex()
	.separator
		size(100%, 25px)
		&.separator-line
			border-bottom 2px solid #999
	.description
		size(100%, fit-content)
		position relative
		margin-bottom: 10px
		.text
			m-font(Roboto, normal, normal, 17px, 14px)
			position relative
			height 68px
			overflow hidden
			color #999
			margin 15px 0
			text-align left
			white-space pre-wrap
			word-break break-all
			// &:after
			// 	size(100%, calc(100% + 10px))
			// 	content ''
			// 	top -10px
			// 	position absolute
			// 	display block
			// 	background linear-gradient(to bottom, rgba(255, 255, 255, 0) 0%, rgba(255, 255, 255, 0.75) 100%)
		.action-button
			width 90px
			position absolute
			right 0
			top 0
	.summary
		m-flex(space-between)
		margin-top 5px
		.current
			font-size 14px
			color $first-color
	.more
		m-flex()
		margin-top 10px
	.actions
		m-flex(justifyContent = space-between)
		color #999
		.user-activity
			m-font(Roboto, normal, normal, 16px, 14px)
			.icon
				margin-right 15px
		.action
			margin-right 30px
			border-radius 15px
			padding px
			&:after
				background linear-gradient(to right, rgba(0, 0, 0, 0.2) 0%,rgba(205, 204, 204, 0.4) 100%)
		
		.share
			margin-right 0
			margin-left 15px	
			.icon
				margin-right 0
				margin-left 15px
		