.modal-donation-form
    .donation-type
        border-radius 40px
        background: #FFFFFF;
        box-shadow: 0px 4px 4px rgba(0, 0, 0, 0.25);
        overflow hidden
        .button 
            m-font(Roboto, normal, 500, normal, 14px)
            background #fff
            outline none
            border none
            color #666
            &.active
                background $first-color
                border-radius 40px
                color #fff
            &.give
                padding 10px 18px
            &.recur
                padding 10px 10px
            &.receipt
                padding 10px 24px
            &.done
                padding 10px 45px
    .modal-row
        .label-amount
            m-font(Roboto, normal, bold, normal, 14px)
            color $first-color
        .amount-wrapper
            position relative
            margin-left 15px
            &:before
                content "$"
                position absolute
                bottom 0
        .value-amount
            border none
            border-bottom 1px solid $first-color
            outline none
            max-width 60px
            text-align center
            padding-left 10px
            box-sizing border-box
            m-font(Roboto, normal, bold, normal, 12px)
        .label
            padding 0px
            m-font(Roboto, normal, normal, normal, 12px)
            color #666
            display block
            margin-bottom 5px
        .memo-input
            padding 8px
            width 100%
            background: #FFFFFF;
            border: 1px solid #DDDDDD;
            box-sizing: border-box;
            border-radius: 16px;
            outline none
            color #666
            &:placeholder
                m-font(Open Sans, normal, normal, normal, 14px)
                color #DDD
        .frequency-value
            max-width 160px
    .modal-title
        m-font(Roboto, normal, bold, 25px, 14px)
    .form-row
        display flex
        flex-wrap wrap
        .form-group
            margin 0
            flex 1
    .form-group
        margin-bottom 20px
        padding 0 5px
        box-sizing border-box
        .control-label
            display block
            font-size 12px
            font-weight normal
            margin-bottom 5px
    .globalErrorHandler
        opacity 0
        margin 5px 0
        transform translateY(10px)
        transition-property opacity, transform
        transition-duration 0.35s
        transition-timing-function cubic-bezier(0.165, 0.84, 0.44, 1)
        svg
            margin-right 5px
            vertical-align bottom
            .base
                fill #ff4060
        &.show
            opacity 1
            transform none
    .form-control
        border-radius 20px
        border 1px solid #DDD
        font-size 14px
        padding 8px
        width 100%
        box-sizing border-box
        outline none
        &::placeholder
            color #CCC
    .donation-information
        color #666
        m-flex(space-between)
        margin-bottom 15px
        span
            color #ccc
    .accordion
        &.open
            .accordion-header
                .caret
                    transform rotate(180deg)
                    display: none
            .accordion-content
                opacity 1
                max-height unset
                padding 10px 0
        .accordion-header
            cursor pointer
            color #CCC
            font-weight 500
            .caret
                transition transform .3s
                display: none
        .accordion-content
            max-height 0
            opacity 0
            transition height .3s
            color #ccc
    ._stripeForm
        margin 0 -5px
        .card-element
            background-color #fff
            border 1px solid #ddd
            border-radius 0
            color #000
            padding 6px
        .form-group
            margin-bottom 10px