.profile-about-me
    .more-action
        cursor pointer
        position absolute
        right 15px
        top 10px
        .action
            color #666666
        a
            text-decoration none
    ._label
        m-font(Roboto, normal, 500, normal, 14px)
        color #666
    ._address
        m-font(Roboto, normal, normal, 17px, 14px)
        color #666
        margin 0px 10px
    ._aboutme
        width 100%
        outline none
        border none
        margin 0px 10px
        m-font(Roboto, normal, normal, 17px, 14px)
        color #666
        &:placeholder
            color #969696