.charity-filter
    padding: 8px 20px !important
    .card-header
        position: relative
        margin-top: 10px
        cursor: default
        &.isOnlyDesktop
            display: block
        &.isOnlyMobile
            display: none
		h3
            cursor: default
            color: white
            &.main-font
                margin: 0
		.caret
            position: absolute
            right: 0
            top: 5px
            transition: 0.3s
            width: 15px
            height: 9px
            z-index: 2
            display: block
            background-size: cover
            background-image: url(/images/ui-icon/close_tab_white_icon.svg)
            cursor: pointer
    .card-body
        p
            margin: 16px 0 5px 0
        .filter
            m-flex(center, center)
            padding: 1.2rem 0
        .t_title, .t_date, .t_interests
            color: white
        .Select-menu-outer 
            > div
                > div:nth-child(1), > div:nth-child(2)
                    border-radius: 0!important
                    border: none
                    box-shadow: none                 
                             
    &.open
        max-height 1000px!important
        .card-body
            visibility visible!important
        .card-header
            .caret
                transform rotateX(180deg)

@media all and (max-width: 425px)
    .charity-filter
        max-height: 100px
        transition: max-height .3s
        .card-header
            &.isOnlyDesktop
                display: none
            &.isOnlyMobile
                display: block
                h3
                    cursor: pointer
        .card-body
            visibility: hidden
            transition: visibility .1s

@media all and (max-width: 768px)
	.charity-filter
        max-height: 100px
        transition: max-height .3s
        .card-header
            &.isOnlyDesktop
                display: none
            &.isOnlyMobile
                display: block
                h3
                    cursor: pointer
        .card-body
            visibility: hidden
            transition: visibility .1s

// Extra small devices (portrait phones, less than 576px)
@media (max-width: 575.98px)
	.charity-filter
        max-height: 100px
        transition: max-height .3s
        .card-header
            &.isOnlyDesktop
                display: none
            &.isOnlyMobile
                display: block
                h3
                    cursor: pointer
        .card-body
            visibility: hidden
            transition: visibility .1s

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px)
	.charity-filter
        max-height: 100px
        transition: max-height .3s
        .card-header
            &.isOnlyDesktop
                display: none
            &.isOnlyMobile
                display: block
                h3
                    cursor: pointer
        .card-body
            visibility: hidden
            transition: visibility .1s

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 1023.98px)
	.charity-filter
        max-height: 100px
        transition: max-height .3s
        .card-header
            &.isOnlyDesktop
                display: none
            &.isOnlyMobile
                display: block
                h3
                    cursor: pointer
        .card-body
            visibility: hidden
            transition: visibility .1s