.page-learn-more
    .learn-more-section
        .learn-more-section__item
            position: relative
            .gradient-overlay
                margin: 0 15px
                opacity: 0.4
                position: absolute
                left: 0
                top: 0
                width: 100%
                height: 100%
                background: linear-gradient(180deg, #CCCCCC 0%, #666666 100%)
                display: flex
                align-items: center
                justify-content: center
                > p
                    font-size: 100px
                    font-weight: bold
                    color: #ffffff
                    margin: auto
    .b-scroll
        .b-scroll-items
            ul
                .b-scroll__item
                    background-color: #fff
        .faqSlieBtn
            top: 130px