.ChatsPage
    display: flex
    justify-content: center
    max-width: 760px
    margin: 20px auto
    z-index: -1
    /*.chatpage-chat-form
        flex: 2
        max-width: $max-card-width
    .chatpage-user-list
        flex: 1
        display: flex;
        justify-content: flex-end;
        margin-right: 33px;
        height: fit-content;
    .empty
        flex: 1*/