.ChatUser
    cursor: pointer
    padding: 15px 10px 25px 10px
    display: flex
    align-items: center
    &.border
        border-bottom: 1px solid #DDDDDD;
    &.active
        background-color: #eee
    ._label
        width: 100%
        margin-left: 8px
        color: #333333;
        display: flex
        justify-content: space-between
        .line-text
            overflow: auto
            display: flex
            align-items: flex-start;
            justify-content: center;
            flex-direction: column
            flex: 5
            .name
                font-size: 14px
            .chat
                color #999999
                font-weight normal
                line-height 17px
                font-size 14px
                word-break break-word
                white-space pre-wrap
                text-align left
        .user-status
            display: flex
            flex-direction: column
            flex: 3
            .point
                margin: 3px auto
                size(8px, 8px)
                border-radius 50%
                display: block
                &.online
                    background #84D751
                &.offline
                    background #CCCCCC
            .last-time
                color: #CCCCCC;
                font-size: 11px;
                font-weight: normal
                text-align: center;
                margin-top: 5px;
        .message-icon
            cursor: pointer