.post-list-page
    max-width 840px
    margin: 0 auto
    .modal
        overflow-y:auto
        .modal-content
            width: 90%
            max-width: $max-card-width
            position: absolute;
            top: 100px
            margin-bottom: 100px
        .modal-content-post
            width: 560px
            padding: 10px