.icon-button
    display: flex;
    background: transparent;
    border: none;
    outline: none
    align-items: center
    &.text-right
        justify-content: flex-end
    ._icon
        vertical-align: middle
        object-fit: scale-down
    ._label
        font-weight: 500;
        font-size: 14px
        color: #202841;
        margin-left: 5px
        word-break: break-all