.modal-volunteer-form
    input
        outline none
    flex-direction column
    .modal-title
        m-font(Roboto, normal, bold, 25px, 14px)
        color #333
    .vol-form-label
        m-font(Roboto, normal, normal ,normal, 14px)
        color #666
        padding 10px 0px
        &.m-230
            max-width 230px
            text-align center
    .vol-form-input
        padding 10px 25px
        background: #FFFFFF;
        border: 1px solid #DDDDDD;
        box-sizing: border-box;
        border-radius: 8px;
        color #666
        m-font(Open Sans, normal, 600, normal, 14px)
    .available-title
        m-font(Roboto, normal, 500, normal, 16px)
        color #333
    .time
        flex-direction column
        .field
            &.date
                max-width 230px
            .control
                color #333
            .label
                m-font(Open Sans, normal, normal, 24px, 14px)
                color #DDDDDD
