@import "vars.styl";

/*==========  Desktop First  ========== */

/* Large Devices, Wide Screens */
@media only screen and (max-width: 1400px) {
	/* */

}
@media only screen and (max-width: 1200px) {
  /* */
  .hidden-lg {
    display: none;
  }
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 1050px) {
	.hidden-md {
		display: none;
	}
}
/* Medium Devices, Desktops */
@media only screen and (max-width: 992px) {
  /* */
  	.hidden-md-m {
		display: none;
	}
}

/* Small Devices, Tablets */
@media only screen and (max-width: 768px) {
	/* */
	.hidden-sm {
		display: none;
	}
}

@media screen and (max-width: 600px) {
}
@media screen and (max-width: 580px) {
}

@media only screen and (max-width: 576px) {

}
/* Extra Small Devices, Phones */
@media only screen and (max-width: 480px) {
  /* */
}
@media only screen and (max-width: 480px ) and (orientation: portrait)  {
  /* */
}

/* Custom, iPhone Retina */
@media only screen and (max-width: 360px) {
  /* */

}
/* Custom, iPhone Retina */
@media only screen and (max-width: 320px) {
  /* */
}

/*==========  Mobile First  ========== */

/* Custom, iPhone Retina */
@media only screen and (min-width: 320px) {
  /* */
}

/* Extra Small Devices, Phones */
@media only screen and (min-width: 480px) {
  /* */
}

/* Extra Small Devices, Phones */
@media only screen and (max-width: 578px) {
	.hidden-xs {
		display: none !important;
	}
}
@media only screen and (min-width: 579px) {
	/* */
	.hidden-mobile {
		display: none;
	}
	.visible-xs {
		display: none !important;
	}
}

/* Small Devices, Tablets */
@media only screen and (min-width: 768px) {
  /* */


}

/* Medium Devices, Desktops */
@media only screen and (min-width: 992px) {
  /* */
	.visible-md {
		display: none;
	}
}
@media only screen and (min-width: 1050px) {
	/* */
	.visible-lg {
		display: none;
	}
	.toggle-mnu {
		display: none;
	}
}
/* Large Devices, Wide Screens */
@media only screen and (min-width: 1200px) {
  /* */

}