.popular-news
    width: 250px
    margin: auto
    position: fixed
    margin-bottom: 115px;
    .text-right
        text-align: right
    ._title
        color: #999999;
        font-size: 16px
        line-height: 23px
        padding: 10px 15px
        background:  linear-gradient(90deg, $first-color 0%, $second-color 100%) left  bottom no-repeat; 
        background-size:100% 1px ;
    .search-body
        padding: 0px 20px 20px 20px
    