.peopleYouKnow
    &.mobile
        margin-top: 20px
        height: 200px
        background-color: #ffffff
        .title
            font-size: 16px
            font-weight: 500
            text-align: left
            padding: 15px 0 0 0
        .slider
            width: 100%
            margin: 20px auto
            .slick-list
                padding: 0 33.33333% !important
                .slick-slide
                    width: 120px !important
                    .sliderBox
                        width: 100%
                        padding: 2px
                        box-sizing: border-box
                        ouline: none 
                        display: inline-block
                        .boxContent
                            padding: 1px
                            background-color: #ffffff
                            height: 100%
                            display: flex
                            flex-direction: column
                            box-sizing: border-box
                            .avatarBox
                                margin: 0 auto
                                display: block
                                .UserAvatar
                                    width: 55px !important 
                                    height: 55px !important
                                    .avatar-wrapper
                                        width: 55px !important
                                        height: 55px !important
                            .nameBox
                                line-height: 16px
                                height: 48px
                                text-overflow: ellipsis
                                overflow: hidden
                                p
                                    text-align: center
                                    margin: 0
                                    font-size: 12px
                            .btnBox
                                margin: 0 auto
                                display: block