@import './PeopleYouKnow/style.styl'
@import './ProjectsWeLove/style.styl'
@import './OurCommunity/style.styl'

.searchLanding
    &.mobile
        width: 100%
        .upper
            background-color: #ffffff