.search-result
    border-radius: 8px;
    max-width 400px
    margin 0px auto
    a
        text-decoration: none
    .all-result
        cursor: pointer
        padding: 8px 16px
        display: flex
        justify-content: space-between
        align-items: center
        border-bottom: 1px solid #DDDDDD;
        ._label
            color: #666666;
            line-height: 24px;
            font-size: 12px;
        ._img
            width: 8px
            height: 4px
            transform: rotate(-90deg);
    .search-body
        padding: 0px 16px 10px 16px
        max-height: 350px
        overflow: scroll
        .no-result
            padding: 10px 10px
            color: #666666
            font-size: 10px
            font-weight: normal
        .group-label
            padding: 8px 0px
            color: #666666;
            font-size: 12px
        .info-wrapper
            cursor: pointer
            display: flex
            align-items: center
            padding-bottom: 10px
            .label-name
                color: #333333;
                font-size: 12px
                line-height: normal
                padding-left: 10px
        .view-all
            border-bottom: 1px solid #DDDDDD
            m-font(Roboto, normal, 500, normal, 12px)
            color #666
            text-align right
            padding 5px 0px