@font-face {
  font-family: 'font-og';
  src: url('/fonts/font-og.eot?97222308');
  src: url('/fonts/font-og.eot?97222308#iefix') format('embedded-opentype'),
  url('/fonts/font-og.woff2?97222308') format('woff2'),
  url('/fonts/font-og.woff?97222308') format('woff'),
  url('/fonts/font-og.ttf?97222308') format('truetype'),
  url('/fonts/font-og.svg?97222308#font-og') format('svg');
  font-weight: normal;
  font-style: normal;
}