// Sprites png
.icon-add-property, .icon-donate, .icon-find-user-male, .icon-marker, .icons-receive-cash, .icons-volunteering, .icon-user-groups{
  background: url(/images/ui-icon/icons/sprites.png) no-repeat;
}
// New sprites

.icon-user-groups {
  background-position: 0 0;
  width: 56px;
  height: 56px;
}

.icons-receive-cash {
  background-position: -74px -1px;
  width: 56px;
  height: 56px;
}

.icon-find-user-male {
  background-position: -159px 0;
  width: 56px;
  height: 56px;
}

.icons-volunteering {
  background-position: -238px -10px;
  width: 36px;
  height: 36px;
}

.icon-donate {
  background-position: -295px -11px;
  width: 36px;
  height: 36px;
}

.icon-add-property{
  background-position: -350px -10px;
  width: 36px;
  height: 36px;
}

.icon-marker{
  background-position: -409px -24px;
  width: 15px;
  height: 15px;
}

// Font Icons
[class^="icon-"]:before, [class*=" icon-"]:before {
  font-family: "font-og";
  font-style: normal;
  font-weight: normal;
  speak: none;

  display: inline-block;
  text-decoration: inherit;
  width: 1em;
  margin-right: .2em;
  text-align: center;

  /* For safety - reset parent styles, that can break glyph codes*/
  font-variant: normal;
  text-transform: none;

  /* fix buttons height, for twitter bootstrap */
  line-height: 1em;

  /* Animation center compensation - margins should be symmetric */
  /* remove if not needed */
  margin-left: .2em;

  /* you can be more comfortable with increased icons size */
  /* font-size: 120%; */

  /* Font smoothing. That was taken from TWBS */
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* Uncomment for 3D effect */
  /* text-shadow: 1px 1px 1px rgba(127, 127, 127, 0.3); */
}

.icon-calendar:before { content: '\e800'; }
.icon-clock:before { content: '\e801'; }
.icon-down-open-big:before { content: '\e802'; }
.icon-down-open-mini:before { content: '\e803'; }
.icon-calendar-1:before { content: '\e804'; }
.icon-clock-1:before { content: '\e805'; }
.icon-lg-arrow-left:before { content: '\e806'; }
.icon-lg-arrow-right:before { content: '\e806'; }
.icon-location:before { content: '\e807'; }
.icon-search:before { content: '\e808'; }
.icon-angle-down:before { content: '\f107'; }
.icon-lg-arrow-left { transform: rotate(180deg); }