.inviteNonprofitModalBody
    .modalContent
        border-radius: 0
        .input-name
            margin: 20px 30px
            padding: 10px 0px
            background: linear-gradient(90deg, $first-color 0%, $first-color 100%) left bottom no-repeat
            background-size: 100% 1px 
            ._input
                width: 100%
                border: none
                outline: none
                font-size: 14px
                font-weight: normal
                color: #999999
                &::placeholder
                    color: #999999
        .bottom-box
            m-flex(center, center)
            padding: 30px 0px
            .invite
                border-radius: 0
                ._label
                    m-font(Roboto, normal, normal, normal, 14px)