.project-date-location
	display: flex
	padding: 10px 10px 0 10px
	> div
		display: flex
		&.date-section
			margin-left: 0
		&.location-section
			margin-left: 20px
		> img
			height: 20px
		> p
			font-size: 11px
			font-weight: normal
			font-family: Roboto
			font-style: normal
			line-height: 17px
			margin: 3px 0 3px 10px