.ourCommunity
    &.mobile
        height: 300px
        background-color: #ffffff
        .title
            font-size: 16px
            font-weight: 500
            text-align: left
            padding-top: 15px
            padding-left: 15px
        .slider
            width: 100%
            margin: 20px auto
            .slick-list
                padding: 0 25% !important
                .slick-slide
                    width: 180px !important
                    .sliderBox
                        width: 100%
                        padding: 2px
                        box-sizing: border-box
                        display: inline-block
                        background: #fff
                        border-radius: 8px
                        overflow: hidden
                        .boxContent
                            padding: 1px
                            background-color: #ffffff
                            height: 100%
                            display: flex
                            flex-direction: column
                            box-sizing: border-box
                            .projectMiniCard
                                flex-basis: 50%
                                padding: 0 10px
                                margin-bottom: 10px
                                box-sizing: border-box
                                .cardBody
                                    position: relative
                                    background: #fff
                                    border-radius: 0
                                    box-shadow: 0px 20px 20px rgba(0, 0, 0, 0.07)
                                    overflow: hidden
                                    .cardContent
                                        padding: 10px
                                        .iconBox
                                            display: block
                                            img
                                                &.communityIcon
                                                    width: 100px
                                                    margin: 0 auto
                                        .titleBox
                                            display: block
                                            p
                                                color: #1AAAFF
                                                font-size: 14px
                                                font-weight: 700
                                                white-space: nowrap
                                                text-overflow: ellipsis
                                                overflow: hidden
                                                text-align: center
                                        .contentBox
                                            display: block
                                            p
                                                line-height: 16px
                                                height: 32px
                                                text-overflow: ellipsis
                                                overflow: hidden
                                                text-align: left
                                        .btnBox
                                            margin: 0 auto
                                            display: block
                                            img
                                                &.communityFollowImg
                                                    margin: 0 auto