.searchBox
    &.mobile-view
        display none
    input
        width 100%
        margin-right 10px
        border none
        outline none
        &::placeholder
            color #9C9B9F
    .button-submit
        flex-shrink 0
        overflow unset
        box-shadow 0 3px 10px rgba(0,0,0,0.4)
        &:before
            content ""
            position absolute
            border-radius 30px
            top 60%
            left 0
            width 100%
            height 50%