.checkbox-container
    color: #666666;
    font-size: 16px;
    text-transform: capitalize;
    display: flex;
    align-items: center;
    padding-left: 30px
    position: relative
    input[type = "checkbox"]
        width: 0
        height: 0
        opacity: 0
        cursor: pointer
        &:checked
            & ~ .checkmark
                &:after
                    display: block
    .checkmark
        position: absolute
        left: 0
        width: 18px
        height: 18px
        background: #FFFFFF
        border: 1px solid #DDDDDD
        box-sizing: border-box
        &:after
            position absolute
            left: 2px
            top: 4px;
            width: 13px
            height: 9px
            content: ''
            background url(/images/ui-icon/check.svg)
            display: none