.pop-news
    padding: 15px 0px
    &.border
        border-bottom: 1px solid #DDDDDD
    ._preview
        width: 100%;
        height: 130px;
        object-fit: fill;
        position: relative
        ._image
            width: 100%
            object-fit: fill
        .like-box
            position: absolute;
            top: 40%;
            left: 32%;
            ._back
                background: #000000;
                opacity: 0.5;
                border-radius: 20px;
                width: 75px
                height: 32px
            ._img
                color: white
                top: 8px;
                position: absolute;
                left: 18px;
                font-size: 14px
            ._text
                color: white
                font-family: Open Sans;
                font-style: normal;
                font-weight: normal;
                line-height: normal;
                font-size: 12px;
                position: absolute;
                top: 7px;
                left: 45px;
    .post-title
        color: #333333;
        line-height: 24px;
        font-size: 16px;
        margin-bottom: 10px
    a
        text-decoration: none
        .info-wrapper
            display flex
            align-items center
    