#escapingBallG
	position relative
	width 125px
	height 43px
	margin auto
    
.escapingBallG
	background linear-gradient(90deg, $first-color 0%, $second-color 100%)
	position absolute
	top 0
	left 0
	width 43px
	height 43px
	border-radius 21px
	animation-name bounce_escapingBallG
	animation-duration 1s
	animation-iteration-count infinite
	animation-timing-function linear
	animation-delay 0s
	transform scale(0.5, 1) rotate(0deg)

@keyframes bounce_escapingBallG
	0%
		left 0px
		transform scale(0.5, 1) rotate(0deg)
	25%
		left 41px
		transform scale(1, 0.5) rotate(72deg)
	50%
		left 103px
		transform scale(0.5, 1) rotate(144deg)
	75%
		left 41px
		transform scale(1, 0.5) rotate(216deg)
	100%
		left 0px
		transform scale(0.5, 1) rotate(360deg)