.whatsOneGivv
    margin: 50px auto
    text-align: center
    padding: 20px 140px
    .title
        color: #323C5A
        font-size: 24px
        font-weight: bold
        line-height: 28px
        strong 
            color: #1AAAFF
    .description
        color: #324148
        font-size: 16px
        line-height: 32px
        font-weight: normal
        strong 
            color: #323C5A
    .iconBox
        margin-top: 80px
        ul
            list-style: none
            display: flex
            align-items: center
            justify-content: space-around
            width: 100%
            margin: 0
            padding: 0
            li
                display: block
                flex: 0 1 auto
                list-style-type: none

@media all and (max-width: 425px)
    .whatsOneGivv
        margin: 70px auto 5px
        padding: 20px 25px
        .iconBox
            display: none

@media (max-width: 575.98px)
	.whatsOneGivv
        margin: 70px auto 5px
        padding: 20px 25px
        .iconBox
            display: none

// Small devices (landscape phones, 576px and up)
@media (min-width: 576px) and (max-width: 767.98px)
	.whatsOneGivv
        margin: 50px auto 5px
        padding: 20px 25px
        .iconBox
            display: none

// Medium devices (tablets, 768px and up)
@media (min-width: 768px) and (max-width: 1023.98px)
	.whatsOneGivv
        margin: 50px auto 5px
        padding: 20px 25px

// Extra large devices 1 (large desktops, 1024px and up)
@media (min-width: 1024px) and (max-width: 1279.98px)
	.whatsOneGivv
        width: 900px

// Extra large devices 2 (large desktops, 1200px and up)
@media (min-width: 1280px) and (max-width: 1365.98px)
	.whatsOneGivv
        width: 900px

// Extra large devices 3 (large desktops, 1366px and up)
@media (min-width: 1366px) and (max-width: 1599.98px)
	.whatsOneGivv
        width: 1024px

// Extra large devices 4 (large desktops, 1600px and up)
@media (min-width: 1600px) and (max-width: 1921.98px)
	.whatsOneGivv
        width: 1024px

// Extra large devices 5 (large desktops, 1920px and up)
@media (min-width: 1920px)
    .whatsOneGivv
        width: 1024px
	