.game-vocabulary-page
    max-width: 920px
    display: flex
    flex-wrap: wrap
    margin: auto
    padding 40px 0
    .game-panel
        padding 0 10px
        box-sizing border-box
        .title
            font-weight: 500;
            line-height: 32px;
            font-size: 24px;
            text-align: center;
            color: #333;
            margin: 0 0 0 0;
    .how-to-play
        .card-mail-class
            min-height 450px
        h5
            margin: 20px 0px
            font-family: Open Sans
            font-size: 14px;
            line-height: 15px;
            font-weight: normal
        flex-basis: 25%
        .footer
            font-family: Open Sans
            text-align: center;
            font-size: 14px;
            margin-top: 110px
            .a2a_kit
                .a2a_button_facebook
                    text-decoration: none
                    width: 80%
                    margin: 0 10%;
                    float: left
            .footer-text
                line-height: 15px;
            .btn-fb
                cursor: pointer
                padding: 5px 10px                
                background: #FFFFFF;
                border: 1px solid #3B5998;
                box-sizing: border-box;
                border-radius: 24px;
                color: #3B5998;
    .bonus-layer
        .card-mail-class
            min-height 430px
            flex-basis: 25%
            text-align:center
        .kibble-title
            line-height: 15px;
            font-weight: normal
            font-size: 14px
            color: #333333
            padding: 0 20px
        .kibble-content
            position: absolute
            bottom: 10px
            width: 90%
            .text
                color: #333333;
                font-size: 14px;
                line-height: 32px;
                position: absolute
                width: 80%
                left: 10%
                bottom: 80%
            .bonus-img
                width: 80%
                left: 10%
        .bonus-top
            background-color: #fd7b35;
            border-radius: 15px;
            color: white;
            position:absolute
            width: 30px
            height: 30px
            top:10px
            right:10px
            .bonus-label
                position: relative;
                top: 25%;
                margin-top: 10px
    .game-layer
        flex-basis: 50%
        position:relative        
        .card-mail-class
            min-height 490px
            overflow: hidden
            .game-layer-mask
                position: absolute
                width: 100%
                height: 100%
                overflow: hidden
                .mask-left-bottom
                    position: absolute;
                    width: 650px;
                    height: 650px;
                    left: -380px;
                    bottom: -500px;
                    border-radius: 320px
                    background: linear-gradient(180deg, rgba(254, 145, 98, 0.40424) -22.97%, rgba(236, 100, 51, 0.46) -22.96%, rgba(249, 177, 149, 0.342723) -22.95%, rgba(241, 133, 94, 0.409072) -22.94%, rgba(245, 157, 123, 0.373493) 76.99%, rgba(238, 115, 69, 0.437919) 77%, rgba(255, 214, 197, 0.286008) 77.01%, rgba(255, 213, 195, 0.292818) 77.01%, rgba(255, 255, 255, 0) 77.02%, $first-color 77.02%);
                    opacity: 0.2;
                .mask-right-top
                    position: absolute;
                    width: 646px;
                    height: 628px;
                    right: -420px;
                    top: -420px;
                    border-radius: 320px
                    background: linear-gradient(180deg, #EC6433 8.3%, rgba(255, 214, 197, 0.286008) 92.27%, rgba(255, 213, 195, 0.292818) 92.27%, rgba(255, 255, 255, 0) 92.28%, #EC6433 92.28%);
                    opacity: 0.2;
                    transform: rotate(-37.74deg);
                .star
                    position: absolute
                    right: 7px
                    top: 7px
                    width: 50px
                    height: 40px
                    padding-top: 8px
                    background-image url(/images/ui-icon/games/star.svg)
                    font-size: 10px
                    line-height: 32px
                .woman
                    position: absolute
                    background-image url(/images/ui-icon/games/woman.svg)
                    bottom: 0px
                    right: 0px
                    height: 140px
                    width: 150px
                .submit-input
                    position: absolute
                    bottom: 0
                    left: 0
                    padding: 20px 10px
                    width: 32%
                    .text
                        line-height: 15px;
                        font-size: 10px;
                        color: #000000;
                        margin-bottom:10px
                    .input-box
                        background: #FFFFFF;
                        box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.25);
                        border-radius: 8px !important
                        padding: 5px 8px;
                        display: inline-flex
                        .input-text
                            width: 60%
                            border: none;
                            border-bottom: 1px solid #000000;
                            outline: none;
                            text-align: center;
                            line-height: 12px;
                            font-size: 12px;
                            color: rgba(0, 0, 0, 0.43);
                        .button-main-class
                            font-size: 8px;
                            line-height: normal;    
                            color: white   
                            padding: 2px 8px;
                            margin-left: 3px;                         
                .stats-dialog
                    width: 200px                    
                    position: absolute;
                    right: 30px;
                    top: 35px;
                    background: #FFFFFF;
                    box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.25);
                    border-radius: 8px;
                    z-index: 100;
                    color: #000000;
                    display: none
                    transition: display 0.3s
                    padding: 20px
                    .signInButton
                        position: absolute
                        padding: 5px 16px;
                        left: 10px;
                        top: 26px;
                        font-weight: normal;
                    .header
                        .title                        
                            line-height: 32px;
                            font-size: 14px;
                            font-weight: bold
                    .your-stats
                        line-height: 15px;
                        font-size: 14px;
                        padding: 0px 20px
                    .week-stats
                        line-height: 15px;
                        font-size: 14px;
                        padding: 0px 20px
                    .year-stats
                        line-height: 15px;
                        font-size: 14px;
                        padding: 0px 10px
                    &.active
                        display:block
                        transition: display 0.3s
        .game-main
            overflow-y: auto
            .title
                text-align:left
                padding: 10px 20px
            .game-content
                .correct-string
                    height: 20px
                .incorrect-string
                    font-weight: bold
                    height: 20px
                .quiz
                    color: #333333 
                    font-weight: bold
                    line-height: 32px
                    font-size: 18px
                 .answer-box
                    background: transparent;
                    padding: 10px 0px
                .answer
                    display: block
                    margin: 12px auto
                    ._label
                        color: #333333 !important
                        font-weight: 400
                        line-height: 32px
                        font-size: 18px
                    &.selected
                        ._label
                            color: orange !important
                            font-weight: 800
    .text-center
        text-align:center !important   
    .play-title
        position: relative
.desktop-display
    display: block
.mobile-display
    display: none


@media all and (max-width: 768px)
    .game-vocabulary-page
        padding 0px
        .how-to-play   
            .card-mail-class   
                min-height: unset
                flex-basis: 100%
                height: auto
                padding: 10px
            .how-to-play-content
                .method-content
                    transition .3s
                    max-height 0
                    overflow hidden
                .footer
                    margin-top: 50px
                    .btn-fb
                        margin: 0px 40px
                .play-title
                    .arrowBlock
                        position absolute
                        right 0
                        top 5px
                        border-radius 48px
                        width 24px
                        height 24px
                        background linear-gradient(90deg, $first-color 0%, $second-color 100%)
                        .arrow
                            transition .3s
                            width 8px
                            height 5px 
                            position absolute
                            right 8px
                            top 10px
                            z-index 2
                            display block
                            background-size cover
                            background-image url(/images/ui-icon/close_tab_icon.svg)
                        &:before
                            content ''
                            display block
                            position absolute
                            width calc(100% - 2px)
                            height calc(100% - 2px)
                            border-radius 48px
                            left 1px
                            top 1px
                            background-color white
                &.active
                    .method-content
                        transition max-height .3s
                        max-height 1000px
                        height auto
                    .play-title
                        .arrowBlock
                            .arrow
                                transition .3s
                                transform rotateX(180deg)
        .game-layer
            flex-basis: 100%    
            .card-mail-class 
                .game-layer-mask        
                    .submit-input
                        top: 15%;
                        left: 5% ;
                        bottom: unset 
                        padding: 10px 15px ;
                        width: 80% ;
                        background: #FFFFFF;
                        box-shadow: 0px 20px 25px rgba(0, 0, 0, 0.25);
                        border-radius: 8px;
                        text-align: center
                        z-index: 100
                        .text
                            line-height: 15px ;
                            font-size: 14px ;
                            margin-bottom: 0px
                        .input-box
                            box-shadow: unset 
                            display: block
                            .input-text
                                margin: auto
                                display: block
                                font-size: 14px;
                            .button-main-class 
                                line-height: normal;
                                font-size: 14px;
                                margin-top: 10px
                            
                .game-main
                    .answer-box
                        min-height: 230px
                        background: #FFFFFF 
                        box-shadow: 0px 1px 5px rgba(0, 0, 0, 0.1);
                        border-radius: 8px;
                        margin: 10px 40px
                        padding: 10px 
                    .title
                        margin-top: 5px
                    .kibble-content
                        width: 100%
                        .bonus-img
                            width: 150px;
                            display: block;
                            margin: auto;
                        .text
                            display: block
                            line-height: 15px;
                            font-size: 14px;
                            color: #333333;
                            margin: 10px 0px
        .desktop-display
            display: none
        .mobile-display
            display: block